<style>
    .container {
        width: 100%;
        margin: auto;
    }
    @media (min-width: 600px) {
        .container {
            width: 80%;
        }
    }
    @media (min-width: 768px) {
        .container {
            width: 60%;
        }
    }
    @media (min-width: 1024px) {
        .container {
            width: 50%;
        }
    }
</style>
<div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Indian_Prime_Minister_Narendra_Modi.jpg" alt="Iss Baar BaJaPa Sarkaar" width="300" height="200">
    <form action="/main" method="post">
        <p><h2>Welcome to Hugging Face Ethical Test, My name is Thousand Ask. May I ask your name?</h2></p>
        <p><input type="text" name="name"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>
